<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

        <bean id="hibernate3AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		
		<property name="annotatedClasses">
			<list>
				<value>ext.cms.model.LoginBean</value>
                                <value>ext.cms.model.Patient</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.current_session_context_class">thread</prop>
				<prop key="hibernate.show_sql">true</prop>
                                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/CMS?zeroDateTimeBehavior=convertToNull</prop>
                                <prop key="hibernate.connection.username">root</prop>
                                <prop key="hibernate.connection.password">Root@123</prop>  
                                <prop key="hibernate.hbm2ddl.auto">create</prop>
                                                       
			</props>
		</property>
	</bean>
        
        <bean id="hibernateManager" class="ext.cms.utils.HibernateManagerImpl">
		<property name="sessionFactory" ref="hibernate3AnnotatedSessionFactory" />
	</bean>

</beans>
